// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Include custom variable default overrides here
$body-bg: #F4F5F9;
$color-primary: #f79554;
$color-primary-dark: #E68848;
$color-secondary: #21ADE4;
$color-purple: #4e2683;
$color-grey: #d8d8d8;

#navbarTotal {
    @include media-breakpoint-down(xl) {
        display: none;
        visibility: hidden;
     }
}

//This is the font for the entire site
#globalfont {
    font-family: Lato;
}

//ZVRS logo on navbar
#logo {
position: absolute;
z-index: 1;
padding-left: 100px;
margin-top: -32px;
}

#nav {
    padding-bottom: 0;
    position: relative;
}


#pagetitle {
    font-size: medium;
    color: white; 
    font-weight: 100;
    display: inline;
    background-color: none;
    position: absolute;
    z-index: 1;
    margin: 87px 0 0 278px
}
 

//This is the white Navbar at the top of the screen
#topbar1 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    
}

//These are the links in the white Navbar
#topbar1-links {
    font-size: medium;
    height: 60px;
    padding: 0 0 0 12px;
    display: flex;
    align-items: center;
    color: #575653;

    &:hover {
        color: black;

    }
}
// vertical bars in white Navbar

#vertbar {
    margin-right: 4px;
    font-size: medium;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 100;
    margin-bottom: 0;
}

//This is the grey Navbar under the white navbar

#topbar2 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
    font-size: medium;
    height: 60px;
    padding-left: 12px;
    background-color: #5A5956;
    padding-right: 100px;
}

//These are the links in the grey Navbar
#topbar2-links {
    font-size: medium;
    height: 60px;
    padding: 0 0 0 12px;
    display: flex;
    align-items: center;
    color: white; 
    font-weight: 100;

    &:hover {
    color: $color-primary;
    }
}

//main content ------------------------

#main-content-container {
    position: relative;
}

#image001 {
    height: 500px;
    margin: 100px 100px 0 0;
    position: absolute;
    right: 0;

    @include media-breakpoint-down(md) {
        height: 280px;
        margin: 40px 12px 0 24px;
        left: 0;
    }
}

#title2 {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 0;
}

#title1 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 6px;

    @include media-breakpoint-down(md) {
        font-size: 24px;
    }
}

#title3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}

#content1 {
    padding: 160px 0 0 100px;
    width: 600px;

    @include media-breakpoint-down(md) {
        width: 320px;
        padding: 350px 0 24px 24px;
    }
    
}

#content2 {
    padding: 40px 0 0 100px;
    width: 100%;

    @include media-breakpoint-down(md) {
        padding: 40px 0 0 24px;
        width: 100%;
    }
    
}

#bodycopy {
    font-family: Helvetica Neue;
    font-size: 16px;
    color: #707070;
    margin-bottom: 32px;

    @include media-breakpoint-down(md) {
    margin: 0 24px 32px 0;
    }
}

#bodycopy2 {
    font-family: Helvetica Neue;
    font-size: 16px;
    color: #707070;
    margin-bottom: 32px;
    width: 60%;

    @include media-breakpoint-down(md) {
        width: 80%;
        }
}

#link1 {
    font-family: Helvetica Neue;
    font-size: 16px;
    color: $color-primary;
    padding-left: 10px;
    text-decoration: none;
}

#content1-ASL {
    margin: 0 0 12px 8px;
}

#primarybtn {
    border-radius: 0px;
    border-color: $color-primary;
    color: white;
    background-color: $color-primary;
    height: 38px;
    width: 152px;
    border-width: 2px;
    font-size: 16px;
    margin-right: 12px;

    &:hover {
        background-color: $color-primary-dark;
        color: white;
    }
}


#secondarybtn {
    border-radius: 0px;
    border-color: $color-primary;
    color: black;
    background-color: white;
    height: 38px;
    min-width: 130px;
    border-width: 2px;
    font-size: 16px;
    margin-right: 12px;

    &:hover {
        background-color:$color-primary;
        color: white;
    }
}

#blue-link {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 400;
    color: $color-secondary;
    text-decoration: none;
    display: block;
    margin-top: 80px;
}


#formFile {
    width: 440px;
    height: 38px;
    margin: 0px auto 120px auto;

    @include media-breakpoint-down(md) {
        width: 320px;
        }
}

#attatchfileicon {
    cursor: pointer;   

}

#buttonFile {
    background-color: white;

    @include media-breakpoint-down(md) {
        display: none;
        }

}

#centeralign {
    margin: 40px 0 44px 0;
    text-align: center;
}

#inputfilelabel {
    margin-right: 12px;
    width: 100%;
}

.idcardcontent {
margin-bottom: 80px;

@include media-breakpoint-down(md) {
margin: 0 24px 80px 24px;
width: 70px;
}
}


//Page 4 CSS ------------------------ 

#doctypeselection {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(md) {
        justify-content: center;
        display: block;
        margin: 24px 60px;
    }
}

#column-1 {
    width: 255px;
    text-align: center;

    @include media-breakpoint-down(md) {
        justify-content: center;
        display: block;
        margin-bottom: 24px;
    }
}

#inputcolumn {
display: flex;
flex-direction: row;

@include media-breakpoint-down(md) {
    display: block;
    width: 100%;
}
}

#btnContain {
    @include media-breakpoint-down(md) {
margin-bottom: 24px;
    }

}

#inputcolumn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
    
    }

#formcolumn{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

#formcolumnCenter{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

#buttonflex {
display: flex;
}

#DocTypeBtn {
    border-radius: 16px;
    border-color: $color-primary;
    color: #707070;
    background-color: white;
    height: 95px;
    width: 95px;
    border-width: 2px;
    font-size: 12px;
    margin: 12px;
    padding: 4px;

    &:hover {
        background-color:$color-primary;
        color: white;
    }
}

#DocTypeImg {
margin: 8px;
height: 28px;
}


#globalinput {
    width: 254px;
    margin-right: 40px;

    @include media-breakpoint-down(md) {
        margin-bottom: 40px;
    }
}

#globalinputSmall {
    width: 126px;
    margin-right: 60px;
}


#exampleFormControlInput1 {
border: 1px black solid;
height: 40px;
outline: none;
width: 254px;
margin-right: 60px;

  &:focus {
    border: 2px $color-primary solid;
    outline: 0 none;
  }
}

#labelstyle {
color: #6A6A6A;
font-size: 14px;
margin-bottom: 4px;

}

#dropdown {
    border: 1px black solid;
height: 40px;
outline: none;
width: 254px;
margin-right: 60px;

  &:focus {
    border: 2px $color-primary solid;
    outline: 0 none;
  }
}

#radiocontrol {
    margin-bottom: 40px;
}

#bodycopy2 {
    margin-bottom: 18px;
}

#inlineRadio1 input:checked {
    background-color: $color-primary;
}

#centeralign2 {
    margin: 200px 0 44px 0;
    text-align: center;
}

.popupComponent {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .8;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        height: 400px;
        background-color: white;
        box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: 0.2);
        border-radius: 6px;

        @include media-breakpoint-down(md) {
            transform: translate(0%, 21%);
            width: 320px;
            top: 0;
            left: 0;
            right: 0;
            height: 400px;
            margin: 24px
        }
    }

    &__close {
        &:link,
        &:visited {
           color: black; 
           position: absolute;
           top: 8px;
           right: 18px;
           font-size: 32px;
           text-decoration: none;
           display: inline-block;
        }

        &:hover {
            color: $color-primary;
        }
    }
}

#popupComponent2 {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .8;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        background-color: white;
        box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: 0.2);
        border-radius: 6px;
        overflow-y: auto;

        @include media-breakpoint-down(md) {
            transform: translate(0%, 0%);
            width: 90%;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            margin: 24px;
        }

        &--title {
            margin-bottom: 18px;

            @include media-breakpoint-down(md) {
                margin-top: 50px;
            }
        }

        &--container {
            border: 1px solid black;
            height: 600px;

            @include media-breakpoint-down(md) {
                height: 100%;
                // border: none;
            }
            
        }

        &--column {
            border-right: 1px solid black;
            height: 598px;
            @include media-breakpoint-down(md) {
                margin-bottom: 24px;
                height: 100%;
                border-right: none;
            }
            
        }

        &--column2 {
            border-right: 1px solid black;
            background-color: $color-grey;
            font-weight: 800;
            height: 598px;

            &last {
                border: none;
            }

            @include media-breakpoint-down(md) {
                height: 100%;
                margin-bottom: 24px;
                border-right: none;
            }
            
        }



        &--bullet {
            margin-bottom: 18px;
            font-size: 14px;
            text-align: left;
            list-style: none;

            &:before {
                content: "\2022";
                color: $color-primary;
                font-weight: 600;
                display: inline-block;
                width: 1em; 
                margin-left: 5px;   
            }
        }
    }

    &__close {
        &:link,
        &:visited {
           color: black; 
           position: absolute;
           top: 8px;
           right: 18px;
           font-size: 32px;
           text-decoration: none;
           display: inline-block;
        }

        &:hover {
            color: $color-primary;
        }
    }
}

#centeralign3 {
    margin: 25px auto;
    text-align: center;
    width: 90%;
}

#titleBig{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 6px;
}

#flexCheckDefault {
    margin-right: 8px;
}

#doctypeselection2 {
    display: flex;
    justify-content: space-around;
    margin: 0 300px 0 300px;
    width: 40%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
        display: block;
        justify-content: center;
        margin: 0 auto;
        width: 300px;
    }
}

#columnInputs {
    text-align: left;
}

.expirement {
    height: 220px;
    margin-top: 0px;
}

#iconTypeImg {
    width: 55px;
    margin-bottom: 24px;
}

#iconTypeImg2 {
    width: 55px;
    margin: 19px 0;
}

// footer ------------------------


.footercomponent {
    display: flex;
    flex-direction: column;
    width: 100%; // Don't change
    background-color: #312F2C;
    background-position: 0% 0%;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 10px;


    &__content {
    margin: 4px auto;   
    display: flex;
    }
    
    &__links {
        font-size: small;
        color: #ffffff;
        font-weight: 400;
        text-decoration: none;

        &:hover {
            color: $color-primary;
        }
    }

    &__text {
        font-size: small;
        color: #ffffff;
        font-weight: 200;
        text-decoration: none;
    }

    &__vertbar {
        text-decoration: none;
        font-weight: 100;
        color: #ffffff; 
        display: inline;
        margin: 0 8px 0 8px;
    }

    @include media-breakpoint-down(xl) {
        display: none;
        visibility: hidden;
     }

}

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

